/*
primary: #c4bd97

primary:#d1ccad

*/
.report{
  color:black;
  font-family:monospace;
}
.dev{
  min-width:450px !important;
  padding:3px;
}
/* CSS declarations go here */
/* navbar collapse breakpoint */
@media (max-width: 1300px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
}
@media (max-width: 992px){
  .individual-property{
    text-align:center !important;
  }
}

@font-face {
  font-family: logoBold;
  src:
  url("/fonts/AlteHaasGroteskBold.ttf");
}
@font-face {
  font-family: logoThin;
  src:
  url("/fonts/AlteHaasGroteskRegular.ttf");
}
@font-face {
  font-family: individualProperty;
  src:
  url("/fonts/AlteHaasGroteskBold.ttf");
}
@font-face {
  font-family: listFontNav;
  src:
  url("/fonts/Deutschlander.otf");
}
@font-face {
  font-family: valueThin;
  src:
  url("/fonts/Gravity-Regular.otf");
}
@font-face {
  font-family: valueBetween;
  src:
  url("/fonts/Gravity-Bold.otf");
}
@font-face {
  font-family: valueRegular;
  src:
  url("/fonts/LondonBetween.ttf");
}
@font-face {
  font-family: valueBold;
  src:
  url("/fonts/LondonTwo.ttf");
}
@font-face {
  font-family: uploadLabel;
  src:
  url("/fonts/LondonMM.ttf");
}
body{
  position:relative;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color:#FFFFFC;
  counter-reset: item;
  counter-reset: subItem;
  counter-reset: superSubItem;
}
input{
  color:#1a1a1a;
  border-bottom:2px solid #c4bd97;
}
input[type="text"], input[type="password"], input[type="file"],input[type="number"],input[type="email"]{
  font-family:valueThin;
  outline:none;
  height:30px;
  border-width: 0px 0px 2px 0px;
  margin-left:25px;
}
input::-webkit-input-placeholder {
font-size:15px;
color: #999999 !important;
}

input:-moz-placeholder { /* Firefox 18- */
font-size:15px;
color: #999999 !important;
}

input::-moz-placeholder {  /* Firefox 19+ */
font-size:15px;
color: #999999 !important;
}

input:-ms-input-placeholder {
font-size:15px;
color: #999999 !important;
}

input#input-basic-search{
  color:#1a1a1a !important;
  background-color:#FFFFFC !important;
}
input#input-basic-search::-webkit-input-placeholder {
color: #999999 !important;
}

input#input-basic-search:-moz-placeholder { /* Firefox 18- */
color: #999999 !important;
}

input#input-basic-search::-moz-placeholder {  /* Firefox 19+ */
color: #999999 !important;
}

input#input-basic-search:-ms-input-placeholder {
color: #999999 !important;
}
hr{
    border-color:#c4bd97;
}
td{
  padding:0 5px 0 5px;
}
table > tr:nth-child(even){
    background-color:#edeade;
}
table > tr:nth-child(1){
    color:#665500;
    font-weight: 900;
}
pre{
  all:inherit;
  text-align:left;
  #333333-space: pre-line;
  margin-left:-3%;
  margin-bottom:30px;
}
 ol {
   list-style: none;
 }
 li.listNumber {
  counter-increment: item;
  margin-bottom: 5px;
 }
 li.listNumber:before {
  margin-right: 10px;
  content: counter(item);
  background: #666666;
  border-radius: 100%;
  color: white;
  width: 1.2em;
  text-align: center;
  display: inline-block;
 }
 li.listSubNumber {
  counter-increment: subItem;
  margin-bottom: 5px;
 }
 li.listSubNumber:before {
  margin-right: 10px;
  content: counter(subItem);
  background: #b3b3b3;
  border-radius: 100%;
  color: #333333;
  width: 1.2em;
  text-align: center;
  display: inline-block;
 }
 li.listSuperSubNumber {
  counter-increment: superSubItem;
  margin-bottom: 5px;
 }
 li.listSuperSubNumber:before {
  margin-right: 10px;
  content: counter(superSubItem);
  background: #b3b3b3;
  border-radius: 100%;
  color: #333333;
  width: 1.2em;
  text-align: center;
  display: inline-block;
 }
p.indent{
  text-indent: 50px;
}
.indent{
  text-indent: 30px;
}
.push-toRight{
  padding-left: 30px;
}
#input-basic-search{
  width:300px;
  padding-left:5px;
}
input.date-input{
  width:100px;
}
#documentTop{
    margin-bottom:50px;
}
.sorting-search{
  width:250px;
}
.form-control{
  color:#1a1a1a;
  background-color:#FFFFFC;
  border-radius:0px !important;
  font-family:valueThin;
  outline:none;
  height:30px;
  border-width: 0px 0px 0px 0px;
  margin-left:25px;
}
.form-control:focus{
  border:none;
}
.data-input{
  width:50%;
}
.no-search{
  font-family:valueBetween;
  font-size:18px;
  text-align:center;
  padding:8px;
  color:#cc0000;
}
.search{
  font-family:valueBetween !important;
  width:90%;
  margin-bottom:13px;
}
h3 {
  font-family:logoBold;
  font-size:22px;
  padding:8px;
  color:#837a49;
}
h4 {
  font-family:valueRegular;
  font-size:22px;
  padding:8px;
  color:#1a1a1a;
}
h4.help {
  color:#837a49;
}
.well{
    color:#1a1a1a;
}
div.modal-footer{
    border:none;
}
span.glyphicon{
    color:#524d2e;
}
span.glyphicon:hover{
    color:#a39a5c;
}
a {
  text-decoration:none !important;
}
a.mail {
  color:#b6ad7c;
  text-decoration:underline !important;
}
a.mail:hover {
  color:#837a49;
  text-decoration:none;
}
.a-heading{
  color:#b6ad7c;
}
.a-heading:hover{
  color:#837a49;
  text-decoration:underline !important;
}
.a-heading-tab{
  color:#1a1a1a;
}
.a-heading-tab:hover{
  color:#1a1a1a;
  background: #d1ccad !important;
}
.a-sort{
  color:#0d0d0d;
  text-decoration:underline !important;
}
.a-sort:hover{
  color:#1a1a1a;
  text-shadow: 0 0 4px #000000;
}
.a-sort:focus{
  color:#0d0d0d;
}
.a-sort-main{
  text-decoration:none !important;
}
ul {
  list-style-type: none;
}
img{
  font-family:logoThin;
  font-size:20px;
  color:#333333;
  border:0;
  margin:0;
  background:#1a1a1a;
}
.img-upload{
  max-width:600px;
}
.img-form-upload{
  max-width:150px;
  max-height:150px;
  margin:10px 20px;
}
.img-form{
  max-width:150px;
  max-height:150px;
  margin:10px 20px;
}
img.img-edit{
  max-width:100%;
  max-height:270px;
  margin-bottom:10px;
}
.btn-toggle{
  position:absolute;
  top:15px;
  right:10px;
}
.basic-fix{
  margin-top:15px;
}
.relative{
  position:relative;
}
.prospero{
  font-family:logoBold;
  font-size:60px;
  text-align:center;
  color:#333333;
  text-shadow: 0 0 10px #1a1a1a;
}
h1{
  font-family:logoBold;
  font-size:60px;
  text-align:center;
  color:#333333;
}
.prospero-login{
  font-family:logoBold;
  font-size:40px;
  text-align:center;
  color:#333333;
  text-shadow: 0 0 10px #000000;
}
.breadcrumbs{
  font-family:logoBold;
  font-size:25px;
  text-align:center;
  padding:8px;
  color:#1a1a1a;
}
.upload_label{
  font-family:uploadLabel;
  padding:10px;
  text-align:center;
  border:1px solid #d1ccad;
  width:80%;
  cursor:pointer;
}
.upload_label:hover{
    background-color: #d1ccad;
    color:#333333;
}
.form-box{
  font-family:valueThin;
  margin:5px 0px 5px 0px;
  padding:10px;
}
.form-box-font{
  font-family:valueThin;
  font-size:20px;
}
.form-box-counter{
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.6), rgba(0,0,0,0)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(top, rgba(0,0,0,0.6), rgba(0,0,0,0)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(top, rgba(0,0,0,0.6), rgba(0,0,0,0)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to top, rgba(0,0,0,0.6), rgba(0,0,0,0)); /* Standard syntax (must be last) */
  font-family:valueRegular;
  font-size:20px;
  box-shadow: 0px 3px 2px -2px #1a1a1a;
  margin:10px 0px 0px 0px;
  padding:10px;
}
.download-files{
  font-family:valueThin;
  font-size:20px;
  color:#999999;
}
.download-link{
  font-size:18px;
  color:#1a1a1a;
}
.download-link:hover{
    color:#f2f2f2;
    text-decoration:underline !important;
}
.download-link:active{
    color:darkred;
}
.text-shadow{
    text-shadow: 3px 3px 10px #999999;
}
.text-shadow-list{
    text-shadow: 0 0 10px #000000;
}
.btn:focus{
  outline:none;
}
.btn-edit:hover{
  text-decoration:none !important;
}
/* buttons */
.btn{
    border-radius:0;
}
.btn-list{
	width:80px;
}
.btn-list-details{
  margin:10px auto !important;
  width:96% !important;
}
.btn-user-list{
  width:40%;
}
.itemBox-basicInfo{
  color:#837a49 !important;
}
.btn-default{
  background-color:#FFFFFC;
  border:1px solid #d1ccad;

}
.btn-default:hover{
  border-color:#d1ccad;
  background-color:#d1ccad;
}

.btn-default:active{
  background-color:#806000;
}
.btn-danger{
    color:#333;
  border-color:#cc0000;
  background-color:#FFFFFC !important;
}
.btn-danger:hover{
  border-color:#cc0000 !important;
  background-color:#cc0000 !important;
}
.btn-danger:active{
  border-color:#cc0000;
  background-color:#cc0000 !important;
}
.btn-danger:focus{
  border-color:#cc0000;
  background-color:#cc0000 !important;
}
.btn-search{
  box-shadow:0 0 1px;
}
.search-results{
  margin-top:35px;
  margin-bottom:300px;
}
.search-results-list{
  padding-top:5px;
}
.btn-div{
  position:absolute;
  right:0;
}
.login-error{
  opacity:0;
  color:red;
  background:rgba(255, 128, 128, 0.1);
  width:150px;
  margin:40px auto;
  font-family:sans-serif;
  font-size:20px;
  border:2px solid red;
}
.title3{
  font-family:logoThin;
  color:grey;
  text-decoration:underline;
}
.item-property{
  font-family:logoBold;
}
.item-property-table{
  font-family:logoBold;
  text-decoration:underline;
}
.table-heading{
  font-family:logoBold;
  font-size:larger;
  padding-bottom:15px;
}
.item-property-author{
  font-family:logoBold;
}
.no-data{
  color:darkred;
}
.no-img{
  width:160px;
  margin:5px;
  padding:10px;
  border:2px dashed #d9d9d9;
}
.post-heading{
  font-family:logoThin;
  color:#1a1a1a;
}
.img-modal{
  max-width:90%;
  background-color:#1a1a1a;
  margin:25px;
  box-shadow:0 0 6px black;
}
.modal{
    background:rgba(0,0,0,0.8);
}
.modal-content{
    border-radius:0;
}
.modal-div{
  box-shadow: none;
  border:none;
}
.modal-header{
    background-color:white;
    color:#1a1a1a;
    border:none;
}
.modal-dialog{
    position: relative;
    display: table;
    overflow-y: auto;
    overflow-x: auto;
    width: auto;
    min-width: 300px;
    max-width:90%;
}
.modal-title{
  border:none;
}
.modal-title > button.close {
    opacity:1;
}
.modal-title > button.close:hover {
    opacity:.8;
}
.underline{
  text-decoration:underline;
}
.details-box{
  min-height:390px;
  background-color:#1a1a1a;
  box-shadow: 0 0 15px #665500;
  padding:10px 10px 10px 10px;
  margin:0px 0 10px 0;
}
.details-box-additional{
  background-color:#1a1a1a;
  box-shadow: 0 0 15px #665500;
  padding:10px;
  margin:0px 0 10px 0;
}
.details-half{
  display:inline-block;
  width:45%;
}
.list-legend{
  color:#665500;
}
.list-font{
  word-wrap: break-word;
  font-family:logoThin;
  font-size:14px;
  color:#1a1a1a;
}
.list-key{
    padding-top:5px;
    text-decoration: underline;
    font-style:italic;
    text-decoration-color: #d1ccad;
}
.modal-abbrevations{
    background-color:white !important;
}
.list-font-abbrevations{
  word-wrap: break-word;
  padding-top:5px;
  font-family:logoThin;
  font-size:14px;
  color:#000000;
}
table.list-font-abbrevations>tr{
  border-color:#bfbfbf;
}
.list-font-results{
  width:100%;
  word-wrap: break-word;
  padding-top:5px;
  font-family:valueThin;
  font-size:18px;
  color:#1a1a1a;
}
.form-check-label{
  font-size:15px;
}
.img-list-block{
    position:relative;
}
.img-list-overlay{
    position: absolute;
    display: flex;
    height:0%;
    z-index: 1000;
    background-color: rgba(196, 189, 151,0.6);
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center;
    color: #1a1a1a;
    font-weight: bold;
    cursor:pointer;
    overflow:hidden;
}
.img-list-container{
    height:200px;
}
.card-details{
    border-left:2px solid #d1ccad;
}
.no-img-list-overlay{
    width:100%;
    height:160px;
    background-color: rgba(196, 189, 151,0.4);
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center;
    color: #1a1a1a;
    font-weight: bold;
    cursor:pointer;
    overflow:hidden;
}
.img-list{
  display:block;
  max-width:100%;
  max-height:200px;
  margin: 10px 0 10px 0;
  box-shadow:0 0 6px black;
}
.col-md-2{
  position:relative;
}
.radio-form{
  margin-right:285px;
}
.admin-panel{
  border:3px dashed lightgrey;
  padding:2px 0px 5px 5px;
}
.admin-list{/*
  border-top:1px dashed #333333;
  border-left:2px dashed #333333;
  border-right:2px dashed #333333;*/
  border-top:1px dashed #c4bd97;
  margin-bottom:-20px;
}
.btn-default, .btn-danger{
  font-family:logoBold;
}
.action-buttons{
  margin-bottom:13px;
}
.hoverGlow{
  font-family:logoBold !important;
  color:#0d0d0d;
}
.hoverGlow:hover{
  color:#4d4d4d;
}
button{
  margin:10px 10px 10px 10px;
}
button, .btn-submit:active{
  outline:none !important;
}
button, .btn-submit:focus{
  outline:none !important;
}
.btn-submit{
  color:#1a1a1a;
  font-family:logoBold;
  width:100%;
  background-color:#d1ccad;
  margin:25px auto;
}
.btn-submit:hover{
    background-color:#FFFFFC;
    border-color:#d1ccad;
}
.btn-modal{
  color:black;
  font-family:logoBold;
  width:100%;
  box-shadow: 0 0 8px #1a1a1a;
  margin:15px auto 0px auto;
}
.loadBtn{
  color:black;
  font-family:logoBold;
  width:100%;
  box-shadow: 0 0 8px #1a1a1a;
  margin:25px auto;
}
/* end buttons */
.delete-label{
  margin:25px auto;
}
.error{
  color:darkred;
}

/*navbar-css*/
/*
.navbar-default .navbar-nav > .dropdown {
  color:#ffbf00;
}
.navbar-default .navbar-nav > .dropdown:hover {
  background-color:#ffecb3;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #1a0f00;
}
.navbar-default .navbar-toggle {
  border-color:#b38600;
  background-color: #fff2cc;
}
.navbar-default .navbar-toggle:hover {
  color:#1a1a1a;
  background-color: #fff9e6;
}
.nav-fix{
  margin-top:100px;
}
.navbar{
  background-color:#fff9e6;
  border-color:#cc8b00;
  box-shadow: 0 0 15px #b3b3b3;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus{
  color:#1a1300;
  background-color:#fff2cc;
}
.navbar-default .navbar-nav > li > a {
  color:#1a1100;
}

.navbar-default .navbar-nav > li > a {
  color:#1a1100;
}
.navbar-default .navbar-nav > .open > ul > li > a:hover {
  background-color:#fff7e6;
}
*/

.navbar{
  background-color:#c4bd97;
  border-color:#FFFFFC;
}
.navbar-default .navbar-nav > .dropdown {
  color:#ffbf00;
}
.navbar-default .navbar-text {
    color: #806a00;
}
.navbar-default .navbar-nav > li > a {
    color: #1a1a1a;
    font-weight:bold;
}
.navbar-default .navbar-nav > .dropdown:hover {
  background-color:#FFFFFC;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus{
  color:#1a1a1a;
  background-color:#FFFFFC;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color:#665500;
  background-color: #FFFFFC;
}
.nav-tabs.nav-justified > li > a {
    border-bottom: 1px solid #c4bd97;
    border-radius: 0;
}
.nav-tabs.nav-justified > .active > a, .nav-tabs.nav-justified > .active > a:hover, .nav-tabs.nav-justified > .active > a:focus {
    border-bottom-color: #c4bd97;
}
.nav-tabs.nav-justified > .active > a, .nav-tabs.nav-justified > .active > a:hover, .nav-tabs.nav-justified > .active > a:focus {
    color:#665500;
    border: 1px solid #c4bd97;
    border-bottom:none;
}
.nav-category{
    margin-left:-35px;
}
li.dropdown>a:focus{
    outline: none;
}
li.dropdown>a:hover{
  background-color: #c4bd97;
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus{
  color: #1a1a1a;
  background-color: #c4bd97;
}

.img-list{
  margin:5px auto;
}



.btn-top-fix{
  margin-top:5px;
}
.btn-bottom-fix{
  margin-bottom:10px;
}
.fix-top{
  padding:20px !important;
}
.item-list{
  font-family:valueThin;
  font-size:20px;
  padding:10px 10px 10px 10px;
  margin-bottom:6%;
  min-height:360px;
}
.img-list-xs{
  max-width:30px;
}
.img-list-xs:hover{
  opacity:0.8;
  cursor:pointer;
}
.user-item-list-heading{
  background:#d3d3d3;
  background:linear-gradient(#d3d3d3, #1a1a1a);
  background: -webkit-linear-gradient(left top, #d3d3d3, #1a1a1a); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #d3d3d3, #1a1a1a); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #d3d3d3, #1a1a1a);
  background:linear-gradient(to bottom right, #d3d3d3, #1a1a1a);
  padding:10px 0px 5px 10px;
  min-height:65px;
  margin-left:-35px;
}
.user-list{
  background-color:#fafafa;
  color:#0d0d0d;
  padding:10px;
  min-height:75px;
}
.user-details{
  margin-left:15px;
  padding:8px;
  color:#1a1a1a !important;
  border: 1px solid #d1ccad;
  min-height:75px;
  max-width:220px;
}
.user-full-details{
  margin-left:15px;
  padding-top:8px;
  color:#1a1a1a !important;
  border: 1px solid #d1ccad;
  min-height:75px;
}
.admin-stats{
  margin-left:15px;
  padding-top:8px;
  color:#1a1a1a !important;
  border: 1px solid #d1ccad;
  min-height:75px;
  max-width:100%;
}
.moderator-collection{
  margin-left:15px;
  padding-top:8px;
  color:#1a1a1a !important;
  border: 1px solid #d1ccad;
  min-height:75px;
  max-width:400px;
}
.db-count{
  margin-left:15px;
  padding-top:8px;
  color:#1a1a1a !important;
  border: 1px solid #d1ccad;
  min-height:75px;
  max-width:220px;
  font-family:logoThin;
  font-size:20px;
}
.db-counter{
  font-family:logobold;
  color:#1a1a1a;
  font-size:20px;
}
.db-counter-number{
  font-family:logoThin;
  color:#1a1a1a;
  font-size:22px;
}
.logo{
  font-family:logoBold;
  font-size:40px;
}
.subhead{
	font-family:valueBold;
	text-align:center;
	font-size:25px;
	color:#1a1a1a;
}
.welcome-msg{
	font-family:logoBold;
	text-align:center;
  font-size:18px;
  color:#1a1a1a;
}
.individual-property{
  text-align:right;
  font-size:16px;
  color:#1a1a1a;
  margin-bottom:4px;
}
.yesNo{
  font-family:individualProperty;
  font-size:16px;
  color:#e6e6e6;
  margin-bottom:4px;
  padding-left:40px;
}
.material_basic_type{
  font-family:individualProperty;
  font-size:16px;
  color:#e6e6e6;
  margin-bottom:4px;
  padding-left:40px;
}
.individual-property-display{
  color:#665500 !important;
  font-size:15px;
  font-style:italic;
  margin-bottom:15px;
}
.individual-img-display{
  font-family:valueThin;
  color:#665500;
  font-size:20px;
}
.img-details-sm{
  /*box-shadow: 0 0 8px #1a1a1a;*/
  max-width:100%;
  max-height:250px;
  margin-top:-10px;
  margin-bottom:10px;
  box-shadow: 0 0 4px #1a1a1a;
}
.img-details-sm:hover{
  opacity:0.8;
}
.img-box{
  margin:0;
  border: 1px solid #d1ccad;
}
.img-modal-sm{
  max-width:100%;
  max-height:130px;
  margin-top:-10px;
  margin-bottom:10px;
  box-shadow: 0 0 4px #1a1a1a;
}
.img-upload-sm{
  max-width:100%;
  max-height:130px;
  margin-top:10px;
  margin-bottom:10px;
  box-shadow: 0 0 4px #1a1a1a;
}
.img-materials-sm{
  max-width:100%;
  max-height:130px;
  margin-top:-10px;
  margin-bottom:10px;
  box-shadow: 0 0 4px #1a1a1a;

}
.individual-value{
  font-family:valueRegular !important;
  font-size:25px;
  width:80%;
}
.individual-lg{
  font-family:valueRegular !important;
  width:90%;
  background-color:rgba(0,0,0,0.4);
}
.individual-data{
  font-family:individualProperty;
  font-size:18px;
  color:#e6e6e6;
  margin-bottom:4px;
}
.individual-data-value{
  position:absolute;
  z-index:-1;
  opacity:0;
  width:300px;
}
.individual-value-display{
  color:#1a1a1a;
  font-style:normal;
  font-size:20px;
  margin-left:5%;
}
.dashed-border{
  width:95%;
  margin:10px auto;
  border-bottom:2px dashed #665500;
  padding:5px 0 5px 0;
}
.personal-data{
  border-left:1px dashed #665500;
}
.add-top-border{
  border-top:1px dashed #665500;
}
.add-top-padding{
  padding-top:10px;
  margin-bottom:-10px;
}
.admin-user-item-href{
  all:none;
}
.individual-value, .bottom-shadow{
}
.search-input{
	width:250px;
}
/*backgrounds */
.color-gray{
  background-color:#4d4d4d;
  color:#1a1a1a;
}
.color-gray:focus{
  background-color:#e6e6e6;
}
.color-gray:active{
  background-color:#4d4d4d;
}
/* positioning classes */
.remove-margin{
  margin:0px !important;
}
.float-right{
  float:right;
}
.float-left{
  float:left;
}
.float-center{
  display:block;
  float:center;
}
.align-center{
  text-align:center;
}
.align-right{
  text-align:right;
}
.margin-center{
  margin:0 auto;
}
.align-left{
  text-align:left;
}
.align-vertical{
  display: table-cell;
  vertical-align:middle;
}
.newly-added{
  font-family:logoThin;
  font-size:25px;
}
.login-propery{
  font-family:logoBold;
  font-size:22px;
  color:#1a1a1a;
}
.add-bottom-space{
  margin-bottom:10px;
}
.add-top-space{
  margin-bottom:10px;
}
.margin-top{
  margin-top:30px;
}
.margin-right{
  margin-right:15px;
}
.margin-left{
	margin-left:10px
}
/* properties */
.error{
  color:darkred;
}
.ok{
  color:#002b80;
}
.hidden{
  display:none;
}
.notes{
  margin-bottom:10px;
  color:#1a1a1a;

}
textarea{
  opacity:0.9 !important;
  color:#1a1a1a !important;
  border:1px solid #d1ccad;
  width:100%;
  overflow-x:hidden;
}
textarea:focus{
    outline-color:#806a00;
}
textarea #sources1{
  color:#1a1a1a;
}
.methods-checkbox{
  font-size:16px !important;
  color:#333333;
}
#MaterialsTehniques{
  margin-bottom:25px;
}
.affix {
      z-index:100;
      top: 20px;
  }
.nav-hover {
  margin-top:65px;
}
.nav-pills>li>a{
border-radius:30px;
background-color:#FFFFFC;
  color: #1a1a1a;
  font-family:valueRegular;
  font-size:15px;
}
.nav-pills>li>a.details-material{
  font-family:valueBetween;
}
.nav-pills>li>a:hover{
  border-left:4px solid #d1ccad;
  background-color:#FFFFFC;
}
.nav-pills>li>a:focus{
  color: #1a1a1a !important;
  border-left:4px solid #d1ccad;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  color: #000000 !important;
  border-left:4px solid #d1ccad;
  background-color:#FFFFFC;
}


.nav-pills>li>a.nav-help{
  color: #1a1a1a;
  font-family:valueRegular;
  font-size:15px;
  text-align:center;
  background-color:;
}
.nav-pills>li>a.nav-help:hover{
    color:white;
  background-color:#c4bd97;
}
.nav-pills>li>a.nav-help:focus{
  color: #000000 !important;
  background:#1a1a1a;
}
.nav-pills>li>a.nav-help:active{
  color: white !important;
  background:#625b37;
}
.nav-pills>li.active>a.nav-help, .nav-pills>li.active>a.nav-help:focus, .nav-pills>li.active>a.nav-help:hover {
  color: #000000 !important;
  background:rgb(255,255,255);
}




.method-checkbox{
  position:relative;
  color:#1a1a1a;
  padding-left:10px;
  width:90%;
}
.method-checkbox-active{
  position:relative;
  color:#1a1a1a;
  padding-left:10px;
  width:100%;
  background:#d1ccad;
}
.method-checkbox:hover{
  cursor:pointer;
  background:#ffea80;
}
.method-checkbox:active{
  cursor:pointer;
    color:#ffffff;
  background:#d1ccad;
}
.uderline-method{
  width:30%;
  border-bottom:2px solid #333333;
  margin:0px auto 20px auto;
}
.check-active{
  background:#d1ccad;
}
.method-active{
  color:#0d0d0d;
  background:#1a1a1a;
}
.btn-login{
  width:300px !important;
}
.btn-forgotPassword{
  width:200px !important;
}
.affix-size{
  min-width:105px;
  display:block;
}

/* CLASES */

label.method-checkbox{
  display:inline-block;
}
input.checkbox-input{
  float:left;
}
input.userEmail{
  width:65%;
}
.form-select{
  color:#1a1a1a;
  border: 2px solid #d1ccad;
}
.form-select:focus, .entry-type:focus{
  border-color:#d1ccad;
  outline:none;
}
.form-contact{
  font-family:valueThin;
  border: 1px solid #c4bd97;
}
.entry-type{
    border:none;
    border-bottom:2px solid #d1ccad;
    font-size:1.5em;
}
.entry-type:hover{
    cursor:pointer;
}
.progress {
  background: #FFFFFC;
  border: none;
  border-radius:0;
  height: 20px;
}
.progress-bar-custom {
  background: #2eb82e;
}
.upload-progress{
  display:none;
}
.objectBranch{
  height:430px;
  margin-bottom:5%;
}
.objectBranch:hover{
  background-color:#f2f2f2 !important;
  color:#333333 !important;
}
.object-href:hover{
  opacity:0.8;
}
.materials-details-box {
  margin-top:20px;
}
input.checkbox-input-view{
  display:none;
}
#methods_href{
  display:none;
}
#submit_href{
  display:none;
}
.toggle{
  display:none;
}
.glyphicon-alert{
  color:#990000;
  font-size:smaller;
}
.glyph-private{
  color:#cccc00;
  font-size:smaller;
}
.glyphicon-plus{
  color:#1a1a1a;
}
.glyphicon-plus:hover{
  color:#999999;
}
.glyphicon-minus{
  color:#1a1a1a;
}
.glyphicon-minus:hover{
  color:#999999;
}
.itemBox-lg{
  position:absolute;
  bottom:35px;
  right:-2%;
}
.visual-data{
  margin:20px 10px 10px 10px;
}
td.upload-table-cell{
  width:25%;
  height:35px;
  border:none;
  background-color:#FFFFFC;
  border-collapse: collapse;
}
tr.noBorder{
  margin-top:5px !important;
  margin-bottom:5px !important;
  border:none !important;
}
.new-file{
  font-style: italic;
}
.about-us{
  padding:0 40px 60px 40px;
  font-family:valueThin;
  line-height: 150%;
  text-align: justify;
}
.download-box{
  padding:0 30px 20px 30px;
}
.file-download{
  min-height:57px;
  margin:10px 0 10px 0;
  border-left:2px dashed #333333;
  vertical-align: middle;
}
.sig-details{
  margin-right:30px;
}
.help-box{
    background-color:white;
  height:427px;
  overflow-y: scroll;
}
.help-notice-warning{
  border-left:5px solid grey;
  padding-left:15px;
}
ul.help-notice{
  list-style-type:disc;
}
.remove-focus:focus{
  outline:none;
  text-decoration:inherit;
  border:inherit;
  color:#1a1a1a;
}

.remove-focus:active{
  outline:none;
  text-decoration:inherit;
  border:inherit;
  color:#1a1a1a;
}
.category-div{
    border-bottom:2px solid #d1ccad;
    padding-bottom:40px;
    margin-bottom:20px;
}
.category-list{
    display:inline-block;
    width:150px;
    height:150px;
}
.category-list-block{
    display:inline-block;
    float:none;
    margin-top:10px;
}
.category-list-block:hover{
    border-left:2px solid #d1ccad;
    border-right:2px solid #d1ccad;
    cursor:pointer;
    opacity:0.9;
}
.category-heading{
    width:100%;
    text-align:center;
}
.category-box{
    display:inline-block;
    border-bottom:1px solid #d1ccad;
}
.category-box > h4{
    margin-bottom:-10px;
}
.tags{
    margin-top:1em;
}
.mailer-body{
    margin:25px;
    width:460px;
    min-height: 480px;
}
.pagination{
    display:inline-block;
}
